/********************** Custom Css for Wp Captcha Settings ******************************/
.wpcb-page-width
{
	max-width:1000px;
}
.layout-form .wpcb-layout-controls-label {
    vertical-align: top;
}
.wpcb-custom-layout-control
{
	margin-top: 8px;
}
.layout-form .wpcb-layout-controls-checkbox {
   margin-left: 10px;
}
.layout-form .wpcb-custom-controls-checkbox {
    margin-top: 8px;
}
.custom-label-width-captcha
{
	width : 200px !important;
}
.custom-layout-controls-captcha
{
	margin-left: 200px !important;
}

.rdl_captcha
{
	margin-top:9px;
}
.layout-control-group
{
	margin-bottom: 15px !important;
}

.layout-system-report {
    display: none;
    margin: 10px 0;
    padding: 0;
    position: relative;
}
.close-report
{
	display: none;
}
.layout-system-report textarea {
    font-family: monospace;
    width: 100%;
    margin: 0;
    height: 300px;
    padding: 20px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    resize: none;
    font-size: 12px;
    line-height: 20px;
    outline: 0;
}

.error_note 
{
    color: #e00000;
    display:block;
}

.check-bottom
{
	margin-bottom: 5px;
	display: block;
}

.log_success
{
	background-color:green;
	color:white;
	padding:5px 10px;
	font-size:11px
}
.log_Failed
{
	background-color:red;
	color:white;
	padding:5px 10px;
	font-size:11px
}

 .layout-control-label-captcha
{
	float: left;
	width: 200px;
	padding-top: 8px;
	text-align: left;
}
.premium_error_note
{
	color: #e00000;
}
.custom-message 
{
	position: relative;
	display: inline-block;
	margin: 20px 0 0 0;
	padding: 0 0 0 35px;
	-moz-box-shadow: 1px 1px 0 #e6e6e6;
	-webkit-box-shadow: 1px 1px 0 #e6e6e6;
	box-shadow: 1px 1px 0 #e6e6e6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#e6e6e6');
	zoom: 1;
}

.custom-message:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.custom-message span
{
	display: block;
	/*background : url(../images/icons/system-icon.png) no-repeat 98% center;*/
	padding: 13px 0;
	font: 12px/1.0em Arial;
}
.custom-message.red
{
	display: block;
	background : #F8E9E9;
	border: 1px solid #E4BBBC;
	color: #b80000;
}
/******************************TOOLTIP****************************************/

.tooltip { position: absolute; z-index: 10300; display: block; visibility: visible; padding: 5px; font-size: 11px; opacity: 0; filter: alpha(opacity=0); }
.tooltip.in { opacity: 0.8; filter: alpha(opacity=80); }
.tooltip.top { margin-top: -3px; }
.tooltip.right { margin-left: 3px; }
.tooltip.bottom { margin-top: 3px; }
.tooltip.left { margin-left: -3px; }
.tooltip-inner { max-width: 200px; padding: 3px 8px; color: #ffffff; text-align: center; text-decoration: none; background-color: #202020; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.tooltip-arrow { position: absolute; width: 0; height: 0; border-color: transparent; border-style: solid; }
.tooltip.top .tooltip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-width: 5px 5px 0; border-top-color: #000000; }
.tooltip.right .tooltip-arrow { top: 50%; left: 0; margin-top: -5px; border-width: 5px 5px 5px 0; border-right-color: #000000; }
.tooltip.left .tooltip-arrow {  top: 50%; right: 0; margin-top: -5px; border-width: 5px 0 5px 5px; border-left-color: #000000; }
.tooltip.bottom .tooltip-arrow { top: 0; left: 50%; margin-left: -5px; border-width: 0 5px 5px; border-bottom-color: #000000; }
.tooltip_img
{
	vertical-align:middle;
	width:15px !important;
}
/************************************** End Custom Css for Wp Captcha Settings ************************************/